In [4]:
from pathlib import Path
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('ml-latest-small/ratings.csv')

In [6]:
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [7]:
#spliting training and validtion

In [9]:
time = np.quantile(data.timestamp.values, 0.8)

In [10]:
time

1458635171.0

In [36]:
train = data[data['timestamp'] < time]
train.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [15]:
len(train)

80668

In [13]:
test = data[data['timestamp']> time]

In [14]:
len(test)

20167

In [16]:
movies = train.movieId.unique()
len(movies)

7867

In [17]:
#Jaccard similarity

In [19]:
def Jaccard_similarity(train, j1,j2):
    m1 = set(train['movieId']==j1)
    m2 = set(j2)
    return float(len(np.intersect1d(m1,m2)) / len(np.union1d(m1,m2)))

In [21]:
e =
f = [0, 1, 2, 3, 4, 5]
Jaccard_similarity(train,e,f)

1.0

In [22]:
len(movies)

7867

In [34]:
movies[:4]

array([ 1,  3,  6, 47])

In [35]:
movie2id = {v:k for k,v in enumerate(movies)}

In [54]:
from collections import OrderedDict
from operator import itemgetter
def K_nearest_neighbor(train, movies, j1, K):
    
    j1_movie = train[train['movieId']== j1]
    j1_rating = j1_movie['rating']
    dic = {}
    for mid in movies:
        mid_movies =train[train['movieId']== mid]
        mid_rating = mid_movies['rating']
        dic[mid] = Jaccard_similarity(train, list(j1_rating), list(mid_rating))
    return dict(sorted(dic.items(), key = itemgetter(1), reverse = True)[:K])

In [55]:
K = 40
j1 = 69757
top = K_nearest_neighbor(train, movies, j1, K)

In [56]:
top

{1: 1.0,
 543: 1.0,
 2174: 1.0,
 2193: 1.0,
 2959: 1.0,
 3671: 1.0,
 3210: 1.0,
 2599: 1.0,
 337: 1.0,
 4886: 1.0,
 5816: 1.0,
 5956: 1.0,
 56367: 1.0,
 69757: 1.0,
 541: 1.0,
 3081: 1.0,
 5418: 1.0,
 7147: 1.0,
 53996: 1.0,
 1380: 1.0,
 1485: 1.0,
 5673: 1.0,
 52281: 1.0,
 953: 1.0,
 35836: 1.0,
 3: 0.0,
 6: 0.0,
 47: 0.0,
 50: 0.0,
 70: 0.0,
 101: 0.0,
 110: 0.0,
 151: 0.0,
 157: 0.0,
 163: 0.0,
 216: 0.0,
 223: 0.0,
 231: 0.0,
 235: 0.0,
 260: 0.0}