In [58]:
import pandas as pd
import tensorflow as tf
import numpy as np
import matplotlib.pylab as plt
from wordcloud import WordCloud
import seaborn as sns

In [57]:
ds = pd.read_csv('trump_insult_tweets_2014_to_2021.csv')
ds.head(10)

,Unnamed: 0,date,target,insult,tweet
0,1,2014-10-09,thomas-frieden,fool,"Can you believe this fool, Dr. Thomas Frieden ..."
1,2,2014-10-09,thomas-frieden,DOPE,"Can you believe this fool, Dr. Thomas Frieden ..."
2,3,2015-06-16,politicians,all talk and no action,Big time in U.S. today - MAKE AMERICA GREAT AG...
3,4,2015-06-24,ben-cardin,It's politicians like Cardin that have destroy...,Politician @SenatorCardin didn't like that I s...
4,5,2015-06-24,neil-young,total hypocrite,"For the nonbeliever, here is a photo of @Neily..."
5,6,2015-06-24,rockin-in-the-free-world,didn't love it,".@Neilyoung’s song, “Rockin’ In The Free World..."
6,7,2015-06-25,willie-geist,uncomfortable looking,Uncomfortable looking NBC reporter Willie Geis...
7,8,2015-06-25,jeb-bush,will NEVER Make America Great Again,"Just out, the new nationwide @FoxNews poll has..."
8,9,2015-06-25,molly-sims,a disaster,The ratings for The View are really low. Nicol...
9,10,2015-06-25,nicole-wallace,a disaster,The ratings for The View are really low. Nicol...

In [41]:

df =  ds[['date','target','insult','tweet']]
df.describe()

,date,target,insult,tweet
count,10360,10358,10360,10360
unique,1573,866,6729,5673
top,2020-10-12,the-media,Fake News,"The Fake News Networks, those that knowingly h..."
freq,45,1287,431,16

In [121]:
df = ds
df.dropna(subset=['target'], inplace=True)
df.isnull().any()
df.reindex(columns=['date','target','insult','tweet'])
df.date = df.date.apply(lambda x: x[:4])
df.head()

,Unnamed: 0,date,target,insult,tweet,counts
0,1,2014,thomas-frieden,fool,"Can you believe this fool, Dr. Thomas Frieden ...",NaN
1,2,2014,thomas-frieden,DOPE,"Can you believe this fool, Dr. Thomas Frieden ...",NaN
2,3,2015,politicians,all talk and no action,Big time in U.S. today - MAKE AMERICA GREAT AG...,NaN
3,4,2015,ben-cardin,It's politicians like Cardin that have destroy...,Politician @SenatorCardin didn't like that I s...,NaN
4,5,2015,neil-young,total hypocrite,"For the nonbeliever, here is a photo of @Neily...",NaN

In [122]:
tokenizer = tf.keras.preprocessing.text.Tokenizer()
tokenizer.fit_on_texts(df['tweet'])
tweet = tokenizer.texts_to_sequences(df['tweet'])
print(len(tokenizer.word_index))

11200

In [138]:
years = {}
years[0] = 1
for year in df.date:
    if year in years.keys():
        years[year] = years[year]+1;
    else:
        years[year]==1;

KeyError: '2014'